div{
    height: 80px;
    width: 160px;
    padding: 20px;
    margin: 15px 20px;
    border: 4px double crimson;
    background-color: aqua;
}
/*border-box:border and padding comes inside
content-box: by default */
.first{
   box-sizing:content-box;
}
.second{
   box-sizing: border-box;
}