
.clip{
    height: 50%;
    width: 45%;
    margin: 10% 10%;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.first{
    height:60%;
    width:30%;
    clip-path: circle(52.5% at 49% 49%);      
}
*{
    background-color: azure;
    border: 8px outset rebeccapurple;
}