table,th,td,tr{
padding: 10px;
border: 2px solid black;
border-collapse: collapse;
}
th{
    color: aquamarine;
    background-color: brown;
}
td{
    color:black;
    background-color: orange;
}
ul li{
    list-style-type:square;
     background-color:brown;
     color: aqua;
     list-style-position: inside;
}
ol li{
 list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}