/* <!--padding contains background color,margin does not contains background color.If margin's parent element has color,it will be shown in margin--> */
.class3,.class2{
    width: 80px;
    height: 80px;
}
.class2{
    background-color: aqua;
    margin: 30px;
}
.class3{
    background-color:aqua;
    padding: 30px;
}
.class1{
    background-color: crimson;
}
