*{
    background-color: rgb(214, 221, 221);
}

h1{
    text-align: center;
    padding: 30px;
    margin: 10px;
    border: 15px outset rebeccapurple;
    background-color: rgb(236, 0, 0);
    color:aqua;
    box-shadow:10px 8px #1a2a3a78;
}
h1:hover{
    transform: scale(1.08);
    cursor: pointer;
}
nav{
    padding: 30px;
    margin: 19px;
    position:sticky;
    top:5px;
    background-color:rgb(202, 96, 96);
}

nav a{
    padding: 10px;
    margin: 20px;
   background-color: rgb(202, 93, 93);
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:20px;
}

a:hover{
    color: aliceblue;
}

section{
    padding: 20px;
    margin: 30px;
    border: 8px outset rgb(95, 70, 37);
}

h2{
    text-shadow: 2px 2px #558ABB;
    font-family: 'Staatliches', cursive;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 3px;
}
div{
    font-family:sans-serif;
    word-spacing: 3px;
    font-weight: bold;
}
footer{
    padding: 20px;
    margin: 10px;
    word-spacing: 10px;
    text-align: justify;
    background-color: blue;
}
footer a{
    background-color: rgb(60, 60, 175);
    color: rgb(5, 5, 5);
    font-weight: bolder;
    padding: 10px;
    color: aquamarine;
}


.robin{
    float: right;
    position: relative;
    bottom: 350px;
}

.four{
    width:50%
}